In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("ssql").master('local[*]').getOrCreate()

In [5]:
# To filter data and get desired rows from a dataframe, we use filter() or whe re() functions
#Filter can be used on one condition or multiple conditions, seperated by an d/or.
from pyspark.sql.functions import *
data=[("Shreyash", 30), ("Rakshith", 25), ("John",10)]
schema=["name","age"]
df=spark.createDataFrame(data, schema)
df.show()
df.filter(col("age") <20).show()
df.filter(df.age<20).show()
df.where(df.age<20).show()

+--------+---+
|    name|age|
+--------+---+
|Shreyash| 30|
|Rakshith| 25|
|    John| 10|
+--------+---+

+----+---+
|name|age|
+----+---+
|John| 10|
+----+---+

+----+---+
|name|age|
+----+---+
|John| 10|
+----+---+

+----+---+
|name|age|
+----+---+
|John| 10|
+----+---+

In [6]:
# We can also give multiple filter conditions
df.filter((df.age>20) & (df.age<28)).show() #note that each condition should b e inside brackets.
#now Lets see how other filter conditions such as startswith, endswith, isnul L, etc. works
df.filter(df.name.startswith("S")).show()
df.filter(df.name.endswith("h")).show()
df.filter(df.name.contains("sh")).show()

+--------+---+
|    name|age|
+--------+---+
|Rakshith| 25|
+--------+---+

+--------+---+
|    name|age|
+--------+---+
|Shreyash| 30|
+--------+---+

+--------+---+
|    name|age|
+--------+---+
|Shreyash| 30|
|Rakshith| 25|
+--------+---+

+--------+---+
|    name|age|
+--------+---+
|Shreyash| 30|
|Rakshith| 25|
+--------+---+

In [7]:
df.filter(df.age.isin (10,30)).show()
df.filter(df.age.isNull()).show() #similarly use isNotNull()
df.filter(df.name.like("%oh%")).show() #this is similar to Like in sql

+--------+---+
|    name|age|
+--------+---+
|Shreyash| 30|
|    John| 10|
+--------+---+

+----+---+
|name|age|
+----+---+
+----+---+

+----+---+
|name|age|
+----+---+
|John| 10|
+----+---+

In [9]:
#Now Lets see how we can get unique records using distinct function and dropD upliates function.
# distinct will consider all the column, however with dropDupplicates, we can provide column names as parameter to apply distinct on only those columns
data1=[(1,1), (1,1), (2,2), (2,3), (1,3)]
schema1=["id", "idd"]
df1=spark.createDataFrame(data1, schema1)
df1.show()
df1.distinct().show()
df1.dropDuplicates().show()
df1.dropDuplicates (["idd"]).show() # we can also give multiple columns inside dropduplicates. Columns should be given inside a list. We can also calculate c ount after getting distinct using count function instead of show.
#We can also use distinct to get unique records in a particular column Like b eLow
df1.select(df1.idd). distinct().show() #this will select only particular column s first then apply distinct, hence we are not getting all columns in output. T his is similarly done with dropDuplicates like below
df1.dropDuplicates (["idd"]).select("idd").show() #here duplicates are removed from idd, and then we select to view only idd.

+---+---+
| id|idd|
+---+---+
|  1|  1|
|  1|  1|
|  2|  2|
|  2|  3|
|  1|  3|
+---+---+

+---+---+
| id|idd|
+---+---+
|  1|  1|
|  2|  2|
|  1|  3|
|  2|  3|
+---+---+

+---+---+
| id|idd|
+---+---+
|  1|  1|
|  2|  2|
|  1|  3|
|  2|  3|
+---+---+

+---+---+
| id|idd|
+---+---+
|  1|  1|
|  2|  2|
|  2|  3|
+---+---+

+---+
|idd|
+---+
|  1|
|  2|
|  3|
+---+

+---+
|idd|
+---+
|  1|
|  2|
|  3|
+---+

In [10]:
# To sort the data in dataframe, You can use either sort() or orderBy() functi on of PySpark DataFrame to sort DataFrame by ascending or descending order bas ed on single or multiple columns. Both methods take one or more columns as arg uments and return a new DataFrame after sorting.
df.show()
df.sort("age").show()
df.sort(df.name).show()
df.sort(df.name.desc()).show() # we can specify desc or asc in multiple ways, by default it will be asc.
df.orderBy(desc("age")).show()
df.orderBy(["age", "name"]).show()

+--------+---+
|    name|age|
+--------+---+
|Shreyash| 30|
|Rakshith| 25|
|    John| 10|
+--------+---+

+--------+---+
|    name|age|
+--------+---+
|    John| 10|
|Rakshith| 25|
|Shreyash| 30|
+--------+---+

+--------+---+
|    name|age|
+--------+---+
|    John| 10|
|Rakshith| 25|
|Shreyash| 30|
+--------+---+

+--------+---+
|    name|age|
+--------+---+
|Shreyash| 30|
|Rakshith| 25|
|    John| 10|
+--------+---+

+--------+---+
|    name|age|
+--------+---+
|Shreyash| 30|
|Rakshith| 25|
|    John| 10|
+--------+---+

+--------+---+
|    name|age|
+--------+---+
|    John| 10|
|Rakshith| 25|
|Shreyash| 30|
+--------+---+